.popup {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  z-index: 400;
}

.popup-inner {
  position: relative;
  padding: 10px;
  width: 100%;
  max-width: 540px;
  background-color: rgb(227, 46, 46);
}

.popup-inner .close-btn {
  position: absolute;
  top: 20px;
  right: 40px;
  border-radius: 17%;
  font-size: 14px;
}
