.buttoncontainer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: -10%;
}

.button {
  background-color: #555555;
  width: 500px;
  border: none;
  color: white;
  padding: 12px 28px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 10%;
  margin-top: 3%;
}

.title {
  text-align: center;
  letter-spacing: 5px;
}

.subtitle {
  text-align: center;
}

.actualLocation {
  text-align: center;
}

.latitude {
  text-align: center;
}

.longitude {
  text-align: center;
}
