.alertPopup {
  background-color: red;
  padding: 10px;
}

.texth3 {
  font-size: 40px;
  text-align: center;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}

.texth2 {
  font-size: 25px;
  text-align: center;
  font-family: Arial Narrow, sans-serif;
}
